extends email-layout

block content
  h2 Register
  p Hello, somebody has try to make a request to the a2i API but got a 407 response.
  p Normally this means there is something wrong with the Proxy server of QuotaGuard.