extends layout.pug

block content
    .container.full-page
        .centered-content
            h1 PriceCast Fuel Report 
            form(action="/report" method="POST")
                .form-group 
                    label(for="customer") Klant 
                    select(name="customer" id="customer-selector")
                        option(value='empty')
                        each customer in customers
                            option(value=customer) #{customer}
                .form-group.half
                    label(for="from_date") Vanaf 
                    input(type="date" name="from_date")
                .form-group.half
                    label(for="till_date") Tot 
                    input(type="date" name="till_date") 
                .form-group 
                    label(for="products" id="product-selector") Producten
                    .multi-selector 
                        .list
                            //- Products are put in programmatic
                            
                .form-group 
                    label(for="comparison") Verglijk met 
                    .form-group.comparison
                        input(type="radio" name='comparison' value='last_year' id='last_year')
                        label(for="last_year") Vorig jaar 
                    //- .form-group.comparison
                    //-     input(type="radio" name='comparison' value='last_period' id='last_period') 
                    //-     label(for="last_period") Vorige periode
                .form-group 
                    label(for="benchmark") Benchmark? 
                    .form-group.comparison
                        input(type="radio" name='benchmark' value='true' id='benchmark_true')
                        label(for="benchmark_true") Yes
                    .form-group.comparison
                        input(type="radio" name='benchmark' value='false' id='benchmark_false')
                        label(for="benchmark_false") No
                .form-group
                    input(type="submit", value="Volgende" id="nextBtn")
                                    