html
  head
    title PriceCast Fuel Reporting

    link(rel="shortcut icon" href="/favicon_transparant.ico")
    link(rel="stylesheet", href="/styles/normalize.css")
    link(rel="stylesheet", href="/styles/table.css")
    link(rel="stylesheet", href="/styles/base.css")
    link(rel="stylesheet", href="/styles/report.css")
    link(rel="stylesheet", href="/styles/flash.css")
    link(rel="stylesheet", href="/styles/navbar.css")

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  body
    block messages
      if locals.flashes
        .inner.inner--flashes
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;

    navbar
      .navbar 
        .container
          .navbar-container 
              .navbar-start 
                if locals.authenticated 
                  p(href='/' data-slug='/' class=(currentPath === '/' ? 'navbar_button nav__link--active' : 'navbar_button')) Home
                  if user
                    p.user (#{user.name})
                
              .navbar-end
                if locals.authenticated 
                  p(id='logoutButton' class='navbar_button' data-slug='/logout') Logout
                if !locals.authenticated
                  p(href='/login' data-slug='/login' class=(currentPath.startsWith('/login') ? 'navbar_button nav__link--active' : 'navbar_button')) Login
                
    block content
    .overlay#overlay
      .loading
      i(class="fas fa-mug-hot loading-icon")

    if locals.authenticated
      .connection-box
        i(class="fas fa-power-off" id="connection-icon")
        span(id="connection-message") No connection with a2i client
    block foot
      #footer
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js')

    script(src='/dist/App.bundle.js') 


