extends layout.pug

block content
    .container.full-page
        .centered-content(style="width: 100%")
            h2 Settings
            #active-jobs
                h3 Get All Active Jobs 
                button.btn#getActiveJobs Get Active Jobs
                #jobsContainer

            h3 New Registration
            form(action="/api/auth/generatetoken" method="POST" style='margin-bottom: 60px')
                .form-group(style='margin-bottom: 0')
                    label(for='email')
                    input(type='email', name='email' id='email')
                .form-group
                    input(class='btn' type='submit' style='width: 20%')

            