@font-face {
    font-family: avenirRegular;
    src: url(/fonts/AvenirNext/regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: avenirMedium;
    src: url(/fonts/AvenirNext/medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: avenirBold;
    src: url(/fonts/AvenirNext/bold.ttf);
}

:root {
    --blue: #002F49;
    --light-blue: #04A4FF;
    --red: #d24d57;
    --grey: #D3D3D3;
    --green: #39C538;
    --select-border: #777;
    --select-focus: #E3E3E3;
    --select-arrow: var(--select-border);
}

body {
    position: relative;
}

body.noscroll {
    overflow: hidden;
}

* {
    font-family: avenirRegular;
    color: var(--blue);
}

h1, h2, h3, h4, h5 {
    font-family: avenirBold;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}

h3 {
    margin-bottom: 0;
}

.container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.overlay.show {
    display: flex;
    opacity: 1;
    animation: opacity 0.5s linear
}

.overlay-active {
    overflow: hidden;
}

.overlay-container {
    background: white;
    width: 80%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.loading {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fading {
    0% {opacity: 0}
    80% {opacity : 1}
    100% {opacity: 0;}
}

.loading-icon {
    position: absolute;
    color: white;
    font-size: 32px;
    animation: fading 2s linear infinite;
}

.connection-box {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.connection-box i {
    margin-right: 20px;
    color: red;
}

.full-page {
    height: calc(100vh - 80px);
}

.centered-content {
    height: 80%;
    width: 50%;
    padding: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 100%;
}

.form-group input[type='submit'] {
    margin-left: 0;
}

.form-group.half {
    width: 45%;
}

.error select, 
.error input {
    border-color: red;
}

.input-error {
    color: red;
    margin-top: 10px;
    font-size: 10px;
}

label {
    font-family: avenirMedium;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 14px;
}

input, select {
    height: 60px;
    width: 100%;
    max-width: 600px;
    padding: 14px 20px;
    border: 1px solid var(--grey);
    border-radius: 2px;
}

.multi-selector {
    width: 100%;
}

.list input, .select-field input {
    border: none;
    outline: nine;
}

.select-field input {
    font-size: 18px;
    color: var(--grey);
    padding: 5px 10px
}

.select-field {
    border: 1px solid var(--grey);
}

.select-input {
    -webkit-appearance: none;
    opacity: 1;
    width: 1px;
    height: 1px;
}

.select-input:checked::after {
    content: url('/img/check-square-solid.svg');
    position: absolute;
    right: 13px;
    height: 15px;
    width: 15px;
    top: 6px;
    color: var(--light-blue)
}

#location-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 16px;
    padding: 10px 20px;
}

#location-list label {
    width: 48%;
}

.location-span {
    font-size: 12px;
}

.location-list-item {
    height: auto;
    width: auto;
    margin-left: 24px;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.task {
    padding: 5px 10px;
    background: white;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
    width: 45%;
}

.task:hover {
    background-color: var(--select-focus);
}

.comparison.form-group {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 14px;
}

.comparison.form-group input {
    height: auto;
    width: auto;
    margin-right: 10px
}

.comparison.form-group label {
    margin-bottom: 0;
    cursor: pointer;
    font-weight: normal;

}

input[type='submit'], button[type='submit'] {
    background: var(--light-blue);
    height: 44px;
    /* width: 50%; */
    margin-right: auto;
    /* margin-left: auto; */
    color: white;
    border: none;
    cursor: pointer;
}

input[type='submit']:disabled, button[type='submit']:disabled {
    background: var(--select-focus);
    cursor: not-allowed;
}

.btn {
    margin-right: auto;
    background-color: var(--light-blue);
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
    min-width: 150px;
}

.btn.error {
    background-color: var(--red);
    color: white;
    cursor: not-allowed;
}

.forgot-password-text {
    font-size: 12px;
    margin-top: 10px;
}

#tokenForm input[type='tel'] {
    height: 100px;
    font-size: 45px;
    letter-spacing: 32px;
    width: 320px;
    min-width: 370px;
    padding-left: 24px;
    border: 0;
    outline: none;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 60px 1px;
    background-repeat: repeat-x;
    background-position-x: 52px;
    padding: 0;
    padding-left: 24px;
}

#tokenForm input::-webkit-outer-spin-button,
#tokenForm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#tokenForm input[type=number] {
  -moz-appearance: textfield;
}