.row {
    height: 60px;
    display: flex;
    align-items: center;
}

.documents td {
    font-size: 14px
}

.pagination {
    display: flex;
    margin-top: 25px;
}

.page {
    margin: 0;
    padding: 15px;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    color: var(--grey);
    cursor: pointer;
}

.page.actual, .page:hover {
    color: white;
    background-color: var(--blue);
}

.page:first-child {
    border-left: 1px solid var(--grey);
}

span.pagenumbers {
    font-size: 12px;
    margin-left: 10px;
    vertical-align: middle;
}

.search-user-container {
    position: relative;
}

.search-user-container input {
    width: 60%;
    position: relative;
}

.search-user-results {
    position: absolute;
    background: white;
    width: 48%;
}


.search-user-results p {
    cursor: pointer;
    margin: 0;
    padding: 30px 15px;
    margin-bottom: 1px solid var(--grey);
}

.search-user-results p:hover {
    background: var(--grey)
}

.close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 16px;
    cursor: pointer;
}