
.inpage-menu {
    display: flex;
    margin-bottom: 30px;
}

.inpage-menu p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    font-family: avenirBold;
    border-bottom: 1px solid white;
    font-size: 18px;
}

.inpage-menu p:hover, .inpage-menu p.active {
    border-bottom: 1px solid var(--light-blue);
}


.jobs-item-row {
    display: flex;
    /* justify-content: space-between; */
    border: 1px solid black;
    padding: 0 10px;
    margin-top: 10px;
}

.jobs-item-row-name {
    width: 240px;
}

.jobs-item-row-remove {
    margin-left: auto;
    cursor: pointer;
}

.add-product {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
}

.add-product i {
    color: white;
}

.product-input {
    margin-top: 20px;
    font-size: 14px;
    height: auto;
}

.product-edit {
    cursor: pointer;
    padding: 15px 30px;
}

#editProductForm {
    flex-direction: column;
}

