table {
    font-size: 20px;
    width: 100%;
}

.table {
    margin-right: auto;
    width: 100%;
}

table, th, tr, td {
    border: 1px solid #DFE1E6;
    border-collapse: collapse;
    border-radius: 2px 2px 0px 0px;
}

table tr, table th {
    height: 50px;
    text-align: start;
}

th {
    font-size: 14px;
    color: #002F49;
    font-family: 'avenirBold';
    text-align: left;
    padding: 9px 11px;
}

td {
    padding: 6px 11px;
    font-size: 14px;
}

th:first-of-type {
    width: 250px;
}

table td {
    cursor: default;
}

table td:hover {
    background-color: var(--grey)
}

.table-header {
    cursor: default;
}

.table-header:hover {
    background-color: white;
}

tr.inprogress td {
    color: var(--grey);
}

tr.inprogress td:hover {
    background: none;
}

td.negative {
    color: red;
}

td.positive {
    color: var(--green)
}

.td-action {
    position: relative;
    height: 50px;
    cursor: pointer;
    padding: 0;
}

.popup-container {
    position: absolute;
    top: -14px;
    left: 44px;
}

.popup-container::before {
    content: ' ';
    /* background: red; */
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent; 
    border-right: 14px solid red; 
    position: absolute;
    top: 26px;
    left: -13px;
}

.btn-danger {
    width: 80px !important;
    font-size: 14px !important;
    background: red !important
}

.loading-spinner {
    animation: spin 2s linear infinite;
}

.tableClick {
    position: relative;
}

.report-dropdown  {
    display: none;
    position: absolute;
    background-color: white;
    top: 50px;
    right: -1px;
    /* padding: 20px 20px; */
    z-index: 99;
    width: 140px;
    text-align: center;
    border: 1px solid var(--grey);
    border-radius: 2px 2px 0px 0px;
}

.report-dropdown.open {
    display: block;
}

.report-dropdown-item {
    margin: 0;
    border-bottom: 1px solid var(--grey);
    padding: 10px 20px;
}

.report-dropdown-item:hover {
    background-color: #D9F1FF;
}

td[data-table-entity="id"].open {
    display: block;
}

.dropdown-icon {
    font-family: 'avenirBold';
    font-size: 16px; 
    padding: 15px;
    margin: 0;
}