table {
    font-size: 20px;
    width: 100%;
}

.table {
    margin-right: auto;
    width: 100%;
}

table, th, tr, td {
    border: 1px solid #CBCBCB;
    border-collapse: collapse;
}

table tr, table th {
    height: 50px;
    text-align: start;
}

th, td {
    padding-left: 12px;
}

th:first-of-type {
    width: 250px;
}

table th, .table-header {
    color: #9d9d9d;
}

table td {
    cursor: pointer;
}

table td:hover {
    background-color: var(--grey)
}

.table-header {
    cursor: default;
}

.table-header:hover {
    background-color: white;
}

td.negative {
    color: red;
}

td.positive {
    color: var(--green)
}

.td-action {
    position: relative;
}

.popup-container {
    position: absolute;
    top: -14px;
    left: 44px;
}

.popup-container::before {
    content: ' ';
    /* background: red; */
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent; 
    border-right: 14px solid red; 
    position: absolute;
    top: 26px;
    left: -13px;
}

.btn-danger {
    width: 80px !important;
    font-size: 14px !important;
    background: red !important
}

.loading-spinner {
    animation: spin 2s linear infinite;
}

.tableClick {
    position: relative;
}

.report-dropdown  {
    position: absolute;
}